@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=swap');

@import "tailwindcss";

* {
  text-rendering: optimizeLegibility;
}

body {
  font-family: 'Inter', sans-serif;
  color: white;
}

.admin-input {
  width: 100%;

  border-radius: 18px;

  border: 1px solid rgba(255,255,255,0.08);

  background: rgba(0,0,0,0.25);

  padding: 14px 18px;

  color: white;

  outline: none;

  transition: all 0.3s ease;
}

.admin-input:focus {
  border-color: rgba(34,211,238,0.5);

  box-shadow: 0 0 20px rgba(34,211,238,0.15);
}